<h3><%= @post.title %></h3>

<p><%= @post.content %></p>

Categories:
<ul>
  <% @post.categories.each do |category| %>
    <li><%= link_to category.name, category_path(category) %></li>
  <% end %>
</ul>

Comments:
<ul>
  <% @post.comments.each do |comment| %>
    <li><%= "#{comment.user.username} says: #{comment.content}" %></li>
  <% end %>
</ul>

Commenters:
<ul>
  <% @post.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %></li>
  <% end %>
</ul>

Add a Comment:
<%= form_for Comment.new do |f| %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.text_area :content %>
  <%= f.collection_select :user_id, User.all, :id, :username %>
  <%= f.fields_for :user, User.new do |user_fields| %>
    <%= user_fields.text_field :username %>
  <% end %>

  <%= f.submit %>
<% end %>